<!DOCTYPE html>
<html
  lang="{{ lang || metas.lang }}"
  class="not-motion-reduce:scroll-smooth scroll-pt-5"
>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title || metas.title }} - {{ metas.site }}</title>
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/style.css">
    <style>
    :root {
      --fallback-serif: var(--font-serif);
      --fallback-sans: var(--font-sans);
      --font-display: display, {{ if (fonts.fallback.display == "serif")
        }}var(--fallback-serif){{else}}var(--fallback-sans){{ /if }};
      --font-text: text, {{ if (fonts.fallback.display == "serif")
        }}var(--fallback-serif){{else}}var(--fallback-sans){{ /if }};
    }
    </style>
    <link rel="stylesheet" href="/prism.css">
    <link rel="canonical" href="{{ url |> url(true) }}">
  </head>
  <body class="min-h-lvh grid grid-rows-[auto_1fr_auto] grid-cols-1 font-text **:[h1,h2,h3,h4,h5,h6]:font-display *:px-5">
    <header>
      <div class="py-5">
        <div class="text-center">
          <a href="/" class="font-bold text-2xl font-display"><strong>{{
              metas.site
            }}</strong></a>
        </div>
      </div>
      <div class="flex flex-col gap-0.5 *:border-t">
        <div></div>
        <div></div>
      </div>
    </header>
    {{ content }}
    <footer>
      <div class="py-5 text-center">
        <p><small>Footer Content</small></p>
      </div>
    </footer>
  </body>
</html>
