---
title: Plugins Test Page
---

<h2>git_dates.ts</h2>

<ul>
  <li>
    date: {{ date }}
  </li>
  <li>
    lastModified: {{ lastModified }}
  </li>
</ul>

<h2>git_hashes.ts</h2>

<ul>
  <li>
    created: {{ hashes.created }}
  </li>
  <li>
    lastModified: {{ hashes.modified }}
  </li>
</ul>

<h2>repo_latest_hash</h2>

<p>repo: {{ hashes.repo }}</p>
