---
title: Content not found
layout: layouts/layout.vto
url: /404.html
---

<main class="flex flex-col justify-center text-center">
  <div class="text-9xl/30 font-bold font-display">404</div>
  <h1 class="text-2xl font-bold font-display">Page Not Found</h1>
  <p class="mt-4 text-xs text-neutral-400">This page flew away.</p>
</main>
