---
title: Home
---

<p>This is a boilerplate to create a Lume theme.</p>

{{ set posts = search.pages("type=post") }}
<ul class="font-custom">
  {{ for post of posts }}
    <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
  {{ /for }}
</ul>
