@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  /* Add custom fonts here */
  /* Example: */
  /* --font-roboto-serif: "Roboto Serif", serif; */
}

/* Remove ::before and ::after content and italicization of <blockquote> added by @tailwindcss/typography */

:is(:where(.prose *)) {
  &:is(:where(blockquote):not(:where([class~="not-prose"] *))) {
    font-style: normal;
    > *:first-child::before,
    > *:last-child::after {
      --tw-content: none;
      content: none
    }
  }
}
